<div style="padding-top:120px;min-height:60vh;max-width:800px;margin:0 auto;padding-left:40px;padding-right:40px;padding-bottom:80px;">
  <h1 style="font-family:'DM Serif Display',serif;font-size:42px;color:#EBE1D2;font-weight:400;margin-bottom:32px;">
    {{ page.title }}
  </h1>
  <div style="font-family:'Jost',sans-serif;font-size:15px;line-height:1.9;color:rgba(235,225,210,0.6);font-weight:300;">
    {{ page.content }}
  </div>
</div>
